<div class="modal modal-game-over">
  <div class="modal-background"></div>
  <div class="modal-card modal-game-over-card">
    <div class="modal-header">
      <div class="modal-title">Game Over</div>
      <div class="modal-btn btn-cross">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="modal-content">
      <div class="modal-content-text">
        <!-- <p class="modal-heading">GAME OVER!</p> -->
        <p>Unfortunately, you were not able to solve the game.</p>  
        <div class="modal-game-info">
          <div>You achieved <span class="modal-game-points-text"><span class="modal-game-points"></span> Points.</span></p></div>
        </div>  
        <p>But you can try another game or this one later again.</p>
        <div class="code-info display-none">
          <div>
            <p>Thank you for participating, with the following code you can continue the study. The code is also visible at the top right corner of the application.</p>
          </div>
          <div>
            <p>Code: <span class="modal-code"></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-btn btn-footer btn-close">Close</div>
      <div class="modal-btn btn-footer btn-retry">Retry</div>
      <div class="modal-btn btn-footer btn-next">Go to Game <span class="btn-next-number">2</span></div>
    </div>
  </div>
</div>