<div class="modal modal-game-win">
  <div class="modal-background"></div>
  <div class="modal-card modal-game-win-card">
    <div class="modal-header">
      <div class="modal-title">Game Win</div>
      <div class="modal-btn btn-cross">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="modal-content">
      <div class="modal-content-text">
        <p class="modal-heading">YOU WIN!</p>
        <p>Congratulation! You solved the game!<br>  You can try again or try another game.</p>
        <div class="code-info display-none">
          <p>Thank you in participating, with the following code you can continue the study. The code is also visible at the top right corner of the application.</p>
          <p>If you want to try one or multiple games again you are now free to select any game you like.</p>
          <p>Code: <span class="modal-code"></span></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-btn btn-footer btn-close">Close</div>
      <div class="modal-btn btn-footer btn-retry">Retry</div>
      <div class="modal-btn btn-footer btn-next">Next Game</div>
    </div>
  </div>
</div>