<div class="modal modal-game-win">
  <div class="modal-background"></div>
  <div class="modal-card modal-game-win-card">
    <div class="modal-header">
      <div class="modal-title">Game Win</div>
      <div class="modal-btn btn-cross">×</div>
    </div>
    <div class="modal-content">
      <div class="modal-content-text">
        <p class="modal-heading">YOU WIN!</p>
        <p>Congratulation! You solved the game!<br>  You can try again or try another game.</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-btn btn-footer btn-close">Close</div>
      <div class="modal-btn btn-footer btn-retry">Retry</div>
      <div class="modal-btn btn-footer btn-next">Next Game</div>
    </div>
  </div>
</div>