<div class="modal modal-game-over">
  <div class="modal-background"></div>
  <div class="modal-card modal-game-over-card">
    <div class="modal-header">
      <div class="modal-title">Game Over</div>
      <div class="modal-btn btn-cross">×</div>
    </div>
    <div class="modal-content">
      <div class="modal-content-text">
        <p class="modal-heading">GAME OVER!</p>
        <p>Unfortunately you were not able to solve the game.<br>  
          But you can try again or try another game.</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-btn btn-footer btn-close">Close</div>
      <div class="modal-btn btn-footer btn-retry">Retry</div>
      <div class="modal-btn btn-footer btn-next">Next Game</div>
    </div>
  </div>
</div>