<!-- <div class="modal help-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Help</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <div class="modal-card-body">
      Content
    </div>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div> -->


<div class="modal-new modal-help">
  <div class="modal-background"></div>
  <div class="modal-card modal-help-card">
    <div class="modal-header">
      <div class="modal-title">HELP</div>
      <div class="modal-btn btn-cross">×</div>
    </div>
    <div class="modal-content">
      <!-- <p class="modal-heading">HELP</p> -->
      <p>The goal of this game is to fulfill all objectives for one visualization by applying the right actions.</p>
      <p>The top half shows you the visualizations and the botton half the actions and objectives.<br><br> 
        Visualizations:<br> 
        The visualization of the current attempt will be displayed, as well as the previous one or the solution.<br> <br>
        Actions: <br> 
        Allow you to change the configuration of the visualization and will be used to check the correctness of
        objective.<br> <br> 
        Objectives:<br> Indicate the objectives of the visualization of each attempt, there are three
        different states:<br> 
        - green: objective is fulfilled<br> 
        - orange: objective is partially fulfilled<br> 
        - red:
        objective is unfulfilled</p>
      <p>The gameplay consits of following steps:<br> 
        - Change the current visualization by toggeling the corresponding action
        with their buttons. You can change as may actions you like until you think that the current configuration would
        fulfill all the objectives.<br> 
        - Click the 'Confirm' button to check the state of the objectives. This will color the
        objectives based on their correctness. <br> 
        - If you didn't fulfill all objectives, you can try again to change the
        action in the a new attempt.</p>
      <p>You win the game if you correctly apply the actions and fulfill all objectives within the given attempts.</p>
      </div>
    <div class="modal-footer">
      <div class="modal-btn btn-footer btn-close">Close</div>
    </div>
  </div>
</div>