<div class="modal modal-help">
  <div class="modal-background"></div>
  <div class="modal-card modal-help-card">
    <div class="modal-header">
      <div class="modal-title">
        <div class="modal-title-icon"><i class="fa-solid fa-circle-question"></i></div>
        <div class="modal-title-label">Help</div>
      </div>
      <div class="modal-btn btn-cross">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="modal-content flex">
      <div class="modal-content-reference">
        <!-- <div class="heading">Content</div> -->
        <div class="level-1 reference" data-content-id="help-text-goal">Goal</div>
        <div class="level-1 reference" data-content-id="help-text-game">Game</div>
        <div class="level-1 reference" data-content-id="help-text-game-board">Game Board</div>
        <div class="level-2 reference" data-content-id="help-text-visualization">Visualization</div>
        <div class="level-2 reference" data-content-id="help-text-action">Action</div>
        <div class="level-2 reference" data-content-id="help-text-objective">Objective</div>
        <div class="level-1 reference" data-content-id="help-text-gameplay">Gameplay</div>
        <div class="level-1 reference" data-content-id="help-text-dataset">Dataset</div>
      </div>
      <div class="modal-content-text">
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-goal">Goal</h2>
        </div>
        <p>The application has three different game variations and the aim of each game variation is to create a good visualization in as few steps as possible.</p>
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-game">Game Variations</h2>
        </div>
        <p>Each game variation is based on different literature on how to create good visualizations. They introduce guidelines for design choices on how they should be applied to visualizations.  For each game variation, you have a fixed number of attempts to create a good visualization.</p>
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-game-board">Game Board</h2>
        </div>
        <p>The game board is split into two halves, the upper half shows the visualization(s). The lower half is interactive and allows you to change the visualization and get feedback on how good the created visualization is.</p>
        <h3 id="help-text-visualization">Visualization</h3>
        <p>There are two visualizations: the left one shows you the previous visualization if you have already attempted it once.
        The right visualization is a preview of your current attempt and can be changed by toggling actions.</p>
        <h3 id="help-text-action">Action</h3>
        <p>An action is a simple visualization design choice, which is either applied or not applied to the visualization.
          <br><br>
          Each action belongs to one objective, but each objective can have multiple actions.
        </p>
        <h3 id="help-text-objective">Objective</h3>
        <p>Each game variation has multiple objectives, and each objective represents a part of the goal to create a good visualization.
          <br><br>
          To fulfill an objective all of its relevant actions have to be applied in the right way.
          A game variation is won when all objectives have been fulfilled.
        </p>
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-gameplay">Gameplay</h2>
        </div>
        <ol class="help-gameplay-steps">
          <li>You toggle as many actions as you like to create a visualization, that you think is a good solution.</li>
          <li>Click the "Confirm" button to check your visualization. The state of the objectives will give you feedback about the visualization.</li>
          <li>If not all objectives were fulfilled you can try again to create a good visualization in the next attempt by modifying the actions.</li>
        </ol>
        <p>You win the game variation if you fulfill all the objectives.
          For each game variation, a high score will be shown next to the different games. If you solve the game variation in one, two, or three attemps, you get a gold, silver, or bronze badge, respectively. 
          <br><br>
          If you could not solve the game variation within the given number of attempts the game is over and you be provided with one solution.
          <br><br>
          Note: For some game variations, multiple solutions exist. If you want to test your skill, you could try to find all possible solutions.
          </p>
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-dataset">Dataset</h2>
        </div>
        <p>The dataset is about different cars and their properties and was created by the <a href="http://lib.stat.cmu.edu/datasets/cars.data">American Statistical Association (ASA)</a> and is also used by <a href="https://github.com/vega/vega-datasets/blob/next/data/cars.json">Vega</a>.
          It consists of 406 cars with 9 columns.  
          </p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-btn btn-footer btn-close">Close</div>
    </div>
  </div>
</div>