<div class="modal modal-help">
  <div class="modal-background"></div>
  <div class="modal-card modal-help-card">
    <div class="modal-header">
      <div class="modal-title">Help</div>
      <div class="modal-btn btn-cross">×</div>
    </div>
    <div class="modal-content flex">
      <div class="modal-content-reference">
        <!-- <div class="heading">Content</div> -->
        <div class="level-1 reference" data-content-id="help-text-goal">Goal</div>
        <div class="level-1 reference" data-content-id="help-text-game">Game</div>
        <div class="level-1 reference" data-content-id="help-text-game-board">Game Board</div>
        <div class="level-2 reference" data-content-id="help-text-visualization">Visualization</div>
        <div class="level-2 reference" data-content-id="help-text-action">Action</div>
        <div class="level-2 reference" data-content-id="help-text-objective">Objective</div>
        <div class="level-1 reference" data-content-id="help-text-gameplay">Gameplay</div>
        <div class="level-1 reference" data-content-id="help-text-dataset">Dataset</div>
      </div>
      <div class="modal-content-text">
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-goal">Goal</h2>
        </div>
        <p>Iguanodon now has Font Awesome icons <i class="fa-regular fa-face-smile"></i> <!-- uses regular style --> </p>
        <ul>
          <li>
            <!-- uses solid style -->
            <i class="fa-solid fa-circle-question"></i>
            <i class="fa-solid fa-repeat"></i>
          </li>
          <li>
            <!-- uses brand style -->
            <i class="fa-brands fa-linux"></i>
          </li>
        </ul>
        <p>Iguanodon has three different games, the aim of each game is to create the perfect visualization in as few steps as possible.</p>
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-game">Game</h2>
        </div>
        <p>Each game is based on different literature on how to create the perfect visualization. They introduce guidelines on how and which design choices should be applied for a visualization.  For each game you have fixed number of attempts to create the perfect visualization.</p>
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-game-board">Game Board</h2>
        </div>
        <p>The game board is split in two halves the upper half shows the visualization(s). In the lower half is interactive and allows you to change the visualization and get feedback on how good the created visualization is.</p>
        <h3 id="help-text-visualization">Visualization</h3>
        <p>There are two visualizations: the left one shows you the previous visualization. Only if you have already attempted to solve the game once.
          The right visualization is a preview of your current attempt and can be changed by toggling actions.</p>
        <h3 id="help-text-action">Action</h3>
        <p>An action is a simple visualization design choice, which is either applied or not applied to the visualization.
          <br><br>
          Each action belongs to one objective, but each objective can have multiple actions.
        </p>
        <h3 id="help-text-objective">Objective</h3>
        <p>Each game has multiple objectives, each objective represents a part of the goal to create a perfect visualization.
          <br><br>
          To fulfill an objective all of its relevant actions have to be applied in the right way.
          A game is won when all objectives have been fulfilled.
        </p>
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-gameplay">Gameplay</h2>
        </div>
        <ol>
          <li>You toggle as may actions as you like to create the a visualization, that you think is a perfect solution.</li>
          <li>Click the -Confirm- button to check your visualization. The state of the objectives will give you feedback about the visualization.</li>
          <li>If not all objectives were fulfilled (green) you can try again to create the perfect visualization in the next attempt by modifying the actions.</li>
        </ol>
        <p>You win the game if all actions are applied correctly, or rather if all objectives are fulfilled. 
          For each game a high score will be shown next to the different games, if you solved the game fast you will get different rewards: gold, silver, or bronze badge. 
          <br><br>
          If you could not solve the game within the given number of attempts the game is over and you be provided with one solution.
          <br><br>
          Note: For some games multiple solutions exist, if you really want to test your skill you could try to find all possible solutions.
          </p>
        <div class="modal-content-header-wrapper">
          <div class="header-bar"></div>
          <h2 id="help-text-dataset">Dataset</h2>
        </div>
        <p>The dataset is about different cars and their properties and was created by <a href="https://github.com/vega/vega-datasets/blob/next/data/cars.json">Vega</a>.
          It consists of 406 cars with 9 columns.  
          </p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-btn btn-footer btn-close">Close</div>
    </div>
  </div>
</div>