<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Iguanodon</title>
</head>


<body id="body">
  <nav class="navbar">
    <!-- <div class="navbar-brand">
      <div class="navbar-item">
        <img class="logo" src="../images/jku-vds-lab-logo-dark-theme.svg">
      </div>
    </div> -->
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-hover nav-help">
          <div class="label-icon left"><i class="fa-solid fa-circle-question"></i></div>
          <div class="label">Help</div>
        </div>
        <div class="navbar-item has-hover nav-retry">
          <div class="label-icon left"><i class="fa-solid fa-rotate-left"></i></div>
          <div class="label">Retry</div>
        </div>
        <div class="navbar-item has-hover nav-game">
          <div class="dropdown">
            <div class="dropdown-btn">
              <div class="dropdown-btn-info">
                <div class="dropdown-btn-item label"></div>
                <div class="dropdown-btn-item reward">
                  <img class="img-reward">
                </div>
                <div class="dropdown-btn-item points"></div>
              </div>
              <div class="dropdown-btn-item arrow display-none">
                <i class="fa-solid fa-chevron-down"></i>
              </div>
            </div>
            <div class="dropdown-menu display-none">
              <div class="dropdown-content">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-center">
      </div>
      <div class="navbar-end">
        <div class="nav-survey inactive display-none">
          <div class="label">Code</div>
          <div class="code">-------------</div>
          <div class="copy" title="Copy to clipboard">
            <i class="fa-solid fa-copy"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div id="main">
  </div>
</body>

<!-- <body id="body">
  <div id="content">
    <div id="app-header">
    </div>
    <div id="sidebar" class="sidebar-content">
    </div>
    <div id="sidebar-score" class="sidebar-content">
    </div>
    <div id="vis-pipeline" class="sidebar-content">
    </div>
    <div id="strip">
      <div id="vis-strip">
        <div id="hover-preview" class="vis-item"></div>
      </div>
      <div id="score-strip">
        <div id="score-preview" class="score-item"></div>
      </div>
      <div id="details-strip">
        <div id="detail-preview" class="detail-item"></div>
        <div id="objective-indicator-svg">
          <svg id="svg-objective"></svg>
        </div>
        <div id="objective-indicator-html">
          <div id="wrapper-indicator-html"></div>
        </div>
      </div>
    </div>
    <div id="vis-multiples"></div>
    <div id="objectives"></div>
  </div>

</body> -->

</html>