<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--<title>Iguanodon</title>-->
</head>

<body id="body">
  <div id="content">
    <div id="app-header">
    </div>
    <div id="sidebar">
    </div>
    <div id="vis-pipeline">
    </div>
    <div id="strip">
      <div id="vis-strip">
        <div id="hover-preview" class="vis-item"></div>
      </div>
      <div id="details-strip">
        <div id="detail-preview" class="detail-item"></div>
      </div>
    </div>
    <div id="vis-multiples"></div>
    <div id="objectives"></div>
  </div>

</body>

</html>