<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Iguanodon</title>
</head>

<body id="body">
  <div id="header">
  </div>
  <div id="nav">
    <div class="navbar-nav">
      <span class="nav-item nav-help">&#x3f; Help</span>
      <span class="nav-item nav-retry">&#10226; Retry</span>
      <span class="nav-item nav-next">&#10132; Next</span>
    </div>
  </div>
  <div id="main">
  </div>
  <div id="footer">
  </div>
</body>

<!-- <body id="body">
  <div id="content">
    <div id="app-header">
    </div>
    <div id="sidebar" class="sidebar-content">
    </div>
    <div id="sidebar-score" class="sidebar-content">
    </div>
    <div id="vis-pipeline" class="sidebar-content">
    </div>
    <div id="strip">
      <div id="vis-strip">
        <div id="hover-preview" class="vis-item"></div>
      </div>
      <div id="score-strip">
        <div id="score-preview" class="score-item"></div>
      </div>
      <div id="details-strip">
        <div id="detail-preview" class="detail-item"></div>
        <div id="objective-indicator-svg">
          <svg id="svg-objective"></svg>
        </div>
        <div id="objective-indicator-html">
          <div id="wrapper-indicator-html"></div>
        </div>
      </div>
    </div>
    <div id="vis-multiples"></div>
    <div id="objectives"></div>
  </div>

</body> -->

</html>