// Sass variable: https://sass-lang.com/guide
// color variables
// $color-header: rgb(0, 0, 0);


// $color-bg-sidebar: #EFF0F1;
// $color-font-app: #232629; old


// possible colors
// $color-background-light: #FFFFFF;
// $color-bg-action-element: #31363B; // e.g button 
// $color-font-action-element: #FFFFFF; // e.g button 
// $color-border-action-element: #FFFFFF; // e.g button 
// $color-pink: #E93A9A;
// $color-orange: #E9643A;
// $color-red: #E93D58;
// $color-green: #3DD425;
// $color-turquoise: #00D3B8;
// $color-blue: #3DAEE9;
// $color-blue-shded: #093952;
// $color-blue-tinted: #9ad5f4;
// $color-blue-transparent: #3DAEE988;
// $color-pruple: #926EE4;



// $color-correct: green;
// $color-partial: orange;
// $color-wrong: red;
// $color-default: black;

// $color-default: black;

// $color-action-true: #414141;
// $color-action-false: lightgrey;
// $color-action-true: $color-blue;
// $color-action-false: lightgrey;
// $color-action-init-true: lightgrey;
// $color-action-init-false: lightgrey;

// $color-vis-pipeline-dt: #66C2A5;
// $color-vis-pipeline-vm: #E78AC3;
// $color-vis-pipeline-vt: #8DA0CB;

// APP
$color-bg-app: white;
// $color-text-app:#212529; // same as Coral
// $color-text-app:#1B1E20; 
$color-text-app:#2A2E32; 
$margin-gameboard: 4rem;
// $color-action:#00ABB3;
$color-action:#3DAEE9;
$color-action-opacity-75: rgba($color-action, 0.75);

// $color-primary-action:
// $color-primary-dark-bg:
// $color-primary-dark-text:
// $color-primary-bright-bg:
// $color-primary-bright-text:
// $color-primary-gray-dark:
// $color-primary-gray-medium:
// $color-primary-gray-light:


// NAVBAR
$color-bg-navbar: #2A2E32;
// $color-bg-navbar: #1b1e20;
$color-bg-navbar-hover: lighten($color-bg-navbar,10%);
$color-text-navbar-hover: $color-action;
$color-text-navbar: white;
$padding-navbar-item: 1rem;
$margin-navbar-item: 1.5rem;
$width-navbar-logo: 8rem;
$height-navbar-logo: 2.5rem;

$height-navbar: 3rem;

// BUTTON
$width-border-button: 1px;
$style-button: solid;
$border-radius-button: 0.375rem;
$color-bg-button: white;
// $color-bg-button: #EFF0F1;
$color-text-button: #2A2E32;
// $color-bg-button: #2A2E32;
// $color-text-button: white;
$color-border-button: #DEE0E2;
$color-border-button-hover: $color-action;
$color-border-button-hover-opacity-75: $color-action-opacity-75;



// MODAL
$color-bg-modal: white;
$color-bg-modal-background: rgba(#2A2E32, 0.66);
$color-bg-modal-header-footer: white;
$color-border-header-footer: lightgray;
// button
$color-bg-modal-btn: $color-bg-button;
$color-text-modal-btn: $color-text-button;
$color-border-modal-btn: $color-border-button;
$color-border-modal-btn-hover: $color-border-button-hover;
$color-border-modal-btn-hover-opacity-75: $color-border-button-hover-opacity-75; 
$border-radius-modal-btn: $border-radius-button;

// GAME BOARD TABLE
// $color-bg-gbt-header: lightgray;
// $color-text-gbt-header: $color-text-app;
// $color-bg-gbt-header: #DEE0E2;
// $color-text-gbt-header: $color-text-app;
$color-bg-gbt-header: #2A2E32;
$color-text-gbt-header: white;
$border-radius-gbt-row: 0.2rem;
// actions
$color-bg-gbt-action-even: white;
$color-bg-gbt-action-odd: #f8f8f8;
$height-gbt-header: 1.5rem;
$height-gbt-row: 1.5rem;
$height-gbt-row-confirm: 3rem;


// toggle btn
// $color-toggle-on: $color-text-app;
// $color-toggle-off: lightgrey;
$color-toggle-on: $color-action;
$color-toggle-off: #2A2E32;
$color-toggle-slider: white;
// $color-toggle-on-inactive: lighten($color-toggle-on,30%);
$color-toggle-on-inactive: #b1def6;
// $color-toggle-off-inactive: lighten($color-toggle-off,30%);
$color-toggle-off-inactive: #a9abad;

// confirm
$color-bg-confirm-btn: $color-bg-button;
$color-text-confirm-btn: $color-text-button;
$color-border-confirm-btn: $color-border-button;
$color-border-confirm-btn-hover: $color-border-button-hover;
$color-border-confirm-btn-hover-opacity-75: $color-border-button-hover-opacity-75;
$border-radius-confirm-btn: $border-radius-button;
$height-confirm-btn: 2rem;

// objectives
// $color-object-correct: lightgreen;
// $color-object-partial: lightsalmon;
// $color-object-wrong: lightcoral;
$color-object-none: $color-bg-app;

// $color-object-correct: #3DD425;
// $color-object-partial: #E9643A;
// $color-object-wrong: #E93D58;

$color-object-correct: #58DDB1;
$color-object-partial: #FCCC70;
$color-object-wrong: #F37683;

 
// --- Start: App ----
#body {
  margin:0;
  background: $color-bg-app;
  height: 100vh;
  color: $color-text-app;
  font-family: Roboto,sans-serif;
}

*, *:after, *:before  {
  box-sizing: border-box;
}

.hide {
  visibility: hidden !important;
}

.display-none {
  display: none !important;
}

.not-allowed {
  cursor: not-allowed !important;
}
// --- End: App ----

// --- Start: Modal ----
.modal {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: $height-navbar;
  z-index: 40;
  
  &.is-active {
    display: flex !important;
  }
}

.modal-btn {
  background-color: $color-bg-modal-btn;
  color: $color-text-modal-btn;
  border-color: $color-border-modal-btn;
  border-width: $width-border-button;
  border-style: $style-button;
  // border-radius: 0.25rem;
  border-radius: $border-radius-modal-btn;

  &:hover {
    // background-color: darken($color-bg-modal,10%);
    // border-color: darken($color-border-modal-btn,15%);
    border-color: $color-border-modal-btn-hover;
    // box-shadow: inset 0 0px 0.125rem $color-border-modal-btn-hover-opacity-75 , 0 0 0.5rem $color-border-modal-btn-hover-opacity-75 !important; 
  }
}

.modal-background {
  background-color: $color-bg-modal-background;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  // top: 15%;
  // left: 30%;
  // width: 40%;
  // height: 70%;
  background-color: $color-bg-modal;
  // border: 1px black solid;
  border-radius: $border-radius-modal-btn;
  z-index: 100;

  // &.show-modal {
  //   display: flex !important;
  // }

  &.modal-help-card {
    // flex-direction: column;
    // position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    // background-color: $color-bg-modal;
    // border: 1px black solid;
    // border-radius: 1rem;
    // z-index: 100;
  }

  &.modal-game-over-card, &.modal-game-win-card {
    // flex-direction: column;
    // position: absolute;
    top: 20%;
    left: 35%;
    width: 30%;
    height: 60%;
    // background-color: $color-bg-modal;
    // border: 1px black solid;
    // z-index: 100;

    p {
      text-align: center;
    }
  }
}


.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: $color-border-header-footer solid 1px;
  background-color: $color-bg-modal-header-footer;
  border-top-left-radius: $border-radius-modal-btn;
  border-top-right-radius: $border-radius-modal-btn;

  >.modal-title {
    font-size: 1.75rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    // text-align: center;

    >.modal-title-icon {
      margin-right: 0.75rem;
    }
  }
}

.btn-cross {
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: $color-bg-modal-btn;
  color: $color-text-modal-btn;
  border: none;
  cursor: pointer;

  &:hover {
    color: $color-border-modal-btn-hover;
  }
}

.modal-content {
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
  font-size: 1rem;
  // overflow: hidden;

  &.flex {
    display: flex;
  }

  .modal-content-reference {
    display: flex;
    flex-direction: column;
    width: 18rem;
    position: sticky;
    top: 0;
    cursor: pointer;

    .level-1 {
      margin-bottom: 0.25rem;
    }
    .level-2 {
      padding-left: 0.75rem;
      margin-bottom: 0.25rem;
    }

    .reference:hover {
      text-decoration: underline;
    }
  }
  // help
  .help-gameplay-steps {
    
    >li {
      margin: 0.25rem 0;

      &::marker {
        font-weight: bold;
      }
    }
  }

  // game result 
  .modal-game-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    >div {
      align-self: center;
    }

    .modal-game-points-text {
      font-weight: bold;
    }

    .modal-game-reward {
      display: flex;
      flex-direction: column;
      justify-content: center;

      >div,>img {
        align-self: center;
      }

      >.modal-game-reward-img {
        height: 5rem;
      }
    }
  }

  .code-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    >div{
      align-self: center;
    }

    .modal-code {
      height: 100%;
      padding: .5rem;
      margin: 0 0.5rem;
      border-color: $color-action;
      border-width: $width-border-button;
      border-style: $style-button;
      border-radius: $border-radius-modal-btn;
      cursor: text;
    }
  }


  .modal-content-header-wrapper {
    display: flex;
    align-items: center;

    >.header-bar {
      height: 2rem;
      border: 0.125rem solid $color-action;
      border-radius: 0.375rem;
      margin-right: 0.5rem;
    }
  }

  .dataset {
    height: 20rem;
    margin: 0 1.5rem 0.25rem 1.5rem;
    overflow: auto;

    >.table-data {
      width: 100%;

      thead {
        position: sticky;
        top: 0;
      }

      tr:nth-child(even) {
        background: $color-bg-gbt-action-odd;
      }
      
      tr:nth-child(odd) {
        background: $color-bg-gbt-action-even;
      }

      th {
        text-align: center;
        background-color: $color-bg-gbt-header;
        color: $color-text-gbt-header;
      }

      td {
        text-align: center;
      }
    }
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: $color-border-header-footer solid 1px;
  background-color: $color-bg-modal-header-footer;
  border-bottom-left-radius: $border-radius-modal-btn;
  border-bottom-right-radius: $border-radius-modal-btn;
  // height: 1.5rem;
  // padding: 0 0.5rem;
  // margin-top: 0.5rem;
  // margin-bottom: 0.5rem;

  >.btn-footer {
    // height: 1.5rem;
    // padding: 0 0.5rem;
    // margin: 0 0.5rem;
    // line-height: 1.5rem;
    // cursor: pointer;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }
}
// --- End: Modal ----


// --- Start: Toggle Button ---
.toggle-btn {
  // toggle button
  $width-toggle-btn: 3rem;
  $height-toggle-btn: 1.125rem;
  $border-radius-toggle-btn: $height-toggle-btn;
  $width-border-toggle-btn: 0.125rem;
  // toggle slider
  $margin-toggle-slider: 0.1875rem;
  $height-toggle-slider: calc($height-toggle-btn - calc(2 * $margin-toggle-slider));
  $width-toggle-slider: $height-toggle-slider;
  $border-radius-toggle-slider: $height-toggle-slider;
  $width-border-toogle-slider: 0rem;
  $margin-toggle-slider-left-off: $margin-toggle-slider;
  $margin-toggle-slider-left-on: calc($width-toggle-btn - $width-toggle-slider - $margin-toggle-slider);

  display: flex;
  align-items: center;
  height: $height-toggle-btn;
  width: $width-toggle-btn;
  // margin: 15px;
  // background-color: darkgray;
  border-radius: $border-radius-toggle-btn;
  cursor: pointer;
  // padding: 5px;
  // border: 2px solid black;

  
  &[data-value="true"] {
    background-color: $color-toggle-on;

    >.toggle-btn-slider {
      margin-left: $margin-toggle-slider-left-on;
    }
  }

  &[data-value="false"] {
    background-color: $color-toggle-off;

    >.toggle-btn-slider {
      margin-left: $margin-toggle-slider-left-off;
    }
  }

  &.inactive {
    cursor: default !important;

    &[data-value="true"] {
      background-color: $color-toggle-on-inactive;
    }

    &[data-value="false"] {
      background-color: $color-toggle-off-inactive;
    }
  }

  >.toggle-btn-slider {
    background-color: $color-toggle-slider;
    height: $height-toggle-slider;
    width: $width-toggle-slider;
    border-radius: $border-radius-toggle-slider;
    transition: .3s;
    -webkit-transition: .3s;
    //border: 3px solid black;
  }
}
// --- Start: Toggle End ---


// --- Start: Dropdown ---
.dropdown {
  $width-dropdown: 15rem;
  $width-padding-one-side: 1rem;
  position: relative;
  width: $width-dropdown;

  >.dropdown-btn {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    >.dropdown-btn-info {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      margin-right: 0.25rem;
      flex-grow: 1;

      >.dropdown-btn-item {
        height: 100%;
      }

      >.reward {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        >img {
          max-height: 1rem;
        }
      }

      >.points {
        font-size: 0.7rem;
        font-weight: normal;
        width: 3.5rem;
      }
    }
  }

  >.dropdown-menu {
    position: absolute;
    background-color: $color-bg-navbar;
    width: calc($width-dropdown + calc(2 * $width-padding-one-side));
    top: 100%;
    left: -$width-padding-one-side;
    z-index: 20;

    .dropdown-menu-item {
      display: flex;
      // justify-content: space-between;
      justify-content: flex-end;
      align-items: center;
      font-weight: normal;
      font-size: 1rem;
      height: 2rem;
      line-height: 2rem;
      padding: 0 1rem;
      color: $color-text-navbar;

      >.label {
        margin-left: 0;
        margin-right: auto;
      }

      >.reward {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin-right: 1rem;

        >img {
          max-height: 0.7rem;
        }
      }

      >.points {
        font-size: 0.6rem;
      }


      &:hover {
        // background-color: $color-bg-navbar-hover;
        color: $color-text-navbar-hover;
      }
    }
  }
}
// --- End: Dropdown ---


// --- Start: Nav ---
.navbar, .navbar-menu, .navbar-start, .navbar-center, .navbar-end {
  display: flex;
} 


.navbar {
  height: $height-navbar;
  background-color: $color-bg-navbar;
}

.navbar-menu {
  height: 100%;
  flex: 1 0;
  font-size: 1.125rem; //1.25rem too big
  align-items: stretch;
}

.navbar-start {
  height: 100%;
  justify-content: flex-start;
  margin-right: auto;
}

.navbar-center {
  height: 100%;
  justify-content: center;
  // padding-right: $width-logo;
}

.navbar-end {
  height: 100%;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}

.navbar-brand {
  width: calc($width-navbar-logo + calc(2* $padding-navbar-item));
  >.navbar-item{
    align-items: center
  }

  a {
    max-height: $height-navbar-logo;
  }

  .logo {
    max-width: $width-navbar-logo;
    cursor: pointer;
    max-height: $height-navbar-logo;

    // &:hover {
    //   background-color: $color-bg-navbar-hover;
    // }
  }
}


.navbar-item {
  display: flex;
  justify-content: center;
  color: $color-text-navbar;
  font-weight: bold;
  padding: 0 $padding-navbar-item;
  height: $height-navbar;
  line-height: $height-navbar;
  margin: 0 $margin-navbar-item;
  cursor: pointer;

  >.label-icon {

    &.left {
      margin-right: 0.5rem
    }
    &.right {
      margin-left: 0.5rem
    }
  }

  &.has-hover:hover {
    // background-color: $color-bg-navbar-hover;
    color: $color-text-navbar-hover;
  }
}

.nav-survey {
  display: flex;
  height: 80%;
  color: $color-text-navbar;
  justify-content: center;
  align-items: center;
  margin: 0 $margin-navbar-item;
  padding: 0 $padding-navbar-item;
  border-radius: $border-radius-button;
  border-width: $width-border-button;
  border-style: $style-button;
  border-color: $color-action;
  cursor: default ;

  >.label {
    font-weight: bold;
    font-size: 1rem;
  }

  >.code {
    cursor: text;
    margin: 0 0.75rem;
  }

  >.copy {
    cursor: pointer;
    font-size: 0.75rem;
  
    &:hover {
      color: $color-action;
    }
  }

  &.inactive {
    border-color: $color-text-navbar !important;

    
    >.code {
      cursor: default !important;
    }
  
    >.copy {
      cursor: default !important;
    
      &:hover {
        color: $color-text-navbar;
      }
    }
  }
}
// --- End: Nav ---

// --- Start: Main (Game Board) ---
#main {
  display: grid;
  // width: 100%;
  margin: 0 $margin-gameboard;
  height: calc(100% - $height-navbar);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  grid-template-areas: 
    'last-vis curr-vis'
    'game-table game-table';
}

#last-vis {
  grid-area: last-vis;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#current-vis {
  grid-area: curr-vis;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.vis-container {
  // margin-bottom: 1rem;
  .vis-label {
    margin-top: 1rem;
    height: 2rem;
    font-weight: bold;
  }

  .vis-plot {
    height: 21rem;
    width: 46rem;
  }

  .vis-dataset  {
    height: 1rem;
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }

}

// game table with all actions, objectives and attempts + solution
#game-table {
  grid-area: game-table;
  display: flex;
  margin: 0 3rem;
  height: 100%;
  overflow-x: auto;

  .column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;

    // row in each column
    // $height-table-row: 1.5rem; 

    // &.label>.header, &.label>.action {
    //   border-top-left-radius: $border-radius-gbt-row;
    //   border-bottom-left-radius: $border-radius-gbt-row;
    // }

    // HACK
    // .action-header-text {
    //   flex-grow: 1;
    //   text-align: left;
    //   background-color: #2a2e32;
    //   color: white;
    //   padding-left: 1rem;
    //   border-radius: 0.375rem;
    // }

    // .action-header-rect {
    //   height: 1.5rem;
    //   width: 4rem;
    //   transform: skewX(45deg);
    //   background: #2a2e32;
    //   margin-left: -1.5rem;
    //   margin-right: 0.6rem;
    //   // border-radius: 0.375rem;
    //     // border-bottom-right-radius: 0.375rem;
    //   border-top-right-radius: 0.375rem;
    // }

    // &.solution>.header, &.solution>.action {

    //   border-top-right-radius: $border-radius-gbt-row;
    //   border-bottom-right-radius: $border-radius-gbt-row;
    // }

    .row {
      height: $height-gbt-row;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;

      &.header {
        text-align: center;
        background-color: white;
        border-bottom: 1px solid $color-bg-gbt-header;
        // color: $color-text-gbt-header;
        line-height: $height-gbt-header;
        position: sticky;
        top: 0;
        font-weight: bold;
        z-index: 10;
      }

      &.label {
        justify-content: left;
        padding-left: 1rem;
      }
      
      &.action:nth-child(odd) {
        background-color: $color-bg-gbt-action-odd;
      }
      
      &.action:nth-child(even) {
        background-color: $color-bg-gbt-action-even;
      }

      &.sticky {
        z-index: 10;
        position: sticky;
        
        &[data-bottom-row="0"] {
          bottom: $height-gbt-row*0;
        }
        &[data-bottom-row="1"] {
          bottom: $height-gbt-row*1;
        }
        &[data-bottom-row="2"] {
          bottom: $height-gbt-row*2;
        }
        &[data-bottom-row="3"] {
          bottom: $height-gbt-row*3;
        }
        &[data-bottom-row="4"] {
          bottom: $height-gbt-row*4;
        }
        &[data-bottom-row="5"] {
          bottom: $height-gbt-row*5;
        }
      }
      

      
      &.objective {
        background-color: $color-bg-app;
        z-index: 10;
      }
      // objectives are colored based on their states
      &.objective.result {  
        background-color: $color-bg-app;
        padding: 0.125rem;

        .obj_indicator {
          width: 100%;
          height: 100%;
          border-radius: 0.125rem;

          &[data-value="none"] {
            background-color: $color-object-none;
          }
          
          &[data-value="correct"] {
            background-color: $color-object-correct;
          }
      
          &[data-value="partial"] {
            background-color: $color-object-partial;
          }
      
          &[data-value="wrong"] {
            background-color: $color-object-wrong;
          }
        }
      }

      // confirm button for each column
      &.confirm {
        height: $height-gbt-row-confirm;
        background-color: $color-bg-app;
      }

      .confirm-btn {
        height: $height-confirm-btn;
        line-height: $height-confirm-btn;
        width: calc(100% - 0.25rem);
        background-color: $color-bg-confirm-btn;
        color: $color-text-confirm-btn;
        border-style: $style-button;
        border-width: $width-border-button;
        border-color: $color-border-confirm-btn;
        border-radius: $border-radius-confirm-btn;
        text-align: center;
        cursor: pointer;

        &:hover {
          // background-color: darken($color-bg-confirm-btn,10%);
          border-color: $color-border-confirm-btn-hover;
        }

        // &.disabled {
        //   pointer-events: none;
        //   background-color: lighten($color-bg-confirm-btn,10%);
        // }
      }

    }
  }
}
// --- End: Main (Game Board) ---
